<h1>Edit Profile</h1>
<%= form_for(@user, :html => { :multipart => true }, url: "/users/#{@user.id}")  do |f| %>
    <p>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :surname %>
      <%= f.text_field :surname%>
    </p>
    <p>
      <%= f.label :email %>
      <%= f.email_field :email %>
    </p>
    <p>
      <%= f.label :password %>
      <%= f.password_field :password, required: true %>
    </p>
    <p>
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, required: true %>
    </p>
    <p>
      <%= f.label :Gender %>
      <%= f.text_field :gender %>
    </p>
    <p>
      <%= f.label :birthday %>
      <%= f.date_field :birthday %>
    </p>
    <p>
      <%= f.label :relationship %>
      <%= f.text_field :relationship %>
    </p>
    <p>
      <%= f.label :livingplace %>
      <%= f.text_field :livingplace %>
    </p>
    <p>
      <%= f.label :language %>
      <%= f.text_field :language %>
    </p>
    <p>
      <%= f.label :image %>
      <%= f.file_field :image %>
    </p>

    <p>
      <div class="chips chips-autocomplete"></div>
    </p>


    <a class="waves-effect waves-teal btn-flat blue"><%= f.submit "Update Profile" %></a>

    <% end %>



<script type="text/javascript">
var autoCompeleteData = {
  <% @interests.each do |interest| %>
  "<%= interest.name %>":null,
  <% end %>
};
var allinterests = {
  <% @interests.each do |interest| %>
  "<%= interest.name %>":<%= interest.id %>,
  <% end %>
};
var userInterests = [
  <% @user.interests.each do |interest| %>
{tag:  "<%= interest.name %>"
,id:<%= interest.id %>},
  <% end %>
];
var token = "<%= form_authenticity_token %>"

  $(function() {
    $('.chips-autocomplete').material_chip({
      data: userInterests,
    autocompleteOptions: {
      data: autoCompeleteData,
      limit: Infinity,
      minLength: 1
    }
  });
  });
  $('.chips-autocomplete').on('chip.add',function(e, chip){
    var interestId = allinterests[chip.tag];
    var url = "/users/addNewInterest/" + chip.tag;
    if (interestId){
      url = "/users/addInterest/" + interestId
    }
    $.post(url ,{'authenticity_token':token},
    function(){
    }).fail(function(){
      alert('error');
    });
  });

  $('.chips-autocomplete').on('chip.delete',function(e, chip){
    var interestId = allinterests[chip.tag];
    $.post("/users/removeInterest/" + interestId,{'authenticity_token':token},
    function(){
    }).fail(function(){
      alert('error');
    });
  });
</script>
