<div class="row">
  <div class="col s2">
  </br>
    <a href="/users" ></a>
    <% if @user.image %>
      <%= image_tag( @user.image,class:"profile_picture" ) %>
    <% end %>
    <ul>
      <li><%= @user.name %> <%= @user.surname %></li>
      <li><%= @user.email %></li>
      <li>Date of Birth: <%= @user.birthday %></li>
      <li>Relationship Status: <%= @user.relationship %></li>
      <li>From <%= @user.livingplace %></li>
      <li>Primary Language: <%= @user.language %></li>
    <% if @current_user.present? && @current_user.id == @user.id %>
      <a href="/users/<%= @current_user.id %>/edit" class="waves-effect waves-teal btn-flat blue">Edit profile</a>
      <% end %>
    </ul>

  </div>
  <div class="col s8">
   <p>suggested activities to <%= @current_user.name %></p>


 <div class="row" style="height:700px; overflow:scroll">

   <% @activities.each do |activity| %>

   <div class="col s12 m6">
     <div class="card">
       <div class="card-image">
         <%= link_to(image_tag(activity.image,class:"activity_image")) %>
         <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
       </div>
       <div class="card-content">
         <span class="card-title">Activity 1</span>
         <p><%= activity.description %></p>
       </div>
     </div>
   </div>
   <% end %>
  </div>

</div>

<div class="col s2">
</br>
  Suggested subjects:
  <ul>
    <% @suggestedinterests.each do |interest| %>
     <li><div data-id="<%= interest.id %>" class="add-interest"><%= interest.name %></div></li>
     <% end %>
  </ul>
</div>
</div>
<script>
token = "<%= form_authenticity_token %>"
$("div.add-interest").click(function(evt){
  var interestId = $(evt.target).attr('data-id');
  $.post("/users/addInterest/" + interestId,{'authenticity_token':token},
  function(){
    $(evt.target).css('background','green');
    $(evt.target).hide("slow");
  }).fail(function(){
    alert('error');
  });
});
</script>
